<div>
  <form name="editorForm" class="container"> <!-- 2-8: Content -->    
    <div class="row"> <!-- 2-3: Video title & URL/Buttons --> 
      <div class="col-sm-8 h3 videoTitle"> <!-- 2: Video Title -->
        <a href="https://www.youtube.com/watch?v=bLlj_GeKniA" target="_blank">
          {{videoTitle || 'Loading...'}}
        </a>
      </div> 
      <div class="col-sm-4 hidden"> <!-- 3: Sharable shortURL -->
        <input class="form-control" name="shortURL"></input>
      </div>
      <div class="col-sm-2"><!-- 3: Save button --> 
        <a class="btn btn-success btn-block col-sm-2">Save</a> 
      </div>
      
      <div class="col-sm-2"><!-- 3: Reset button --> 
        <a class="btn btn-danger btn-block col-sm-2">Reset</a> 
      </div>
    </div>
    
    <div class="row"> <!-- 4: Youtube iFrame embed --> 
      <div class="col-sm-12">
        <div class="videoWrapper">
          <div id="videoDiv">
          </div>
        </div>
      </div>
    </div>
    
    <div class="row"> <!-- 5: Timeline -->
      <div class="col-sm-12">
        <div class="progress">
          <div class="progress-bar progress-bar-success" style="width: 35%"></div>
          <div class="progress-bar progress-bar-warning progress-bar-striped active" style="width: 20%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 45%"></div>
        </div>
      </div>
    </div>

    <div class="row"> <!-- 6-8: Start time, youtube link input, End time -->
      <div class="col-sm-3"> <!-- 6: start time in seconds -->
        <input class="form-control" name="startSeconds" value="0:10"></input>
      </div>

      <div class="col-sm-6"> <!-- 7: youtube link input -->
        <input class="form-control" name="youtubeUrl" value="https://www.youtube.com/watch?v=bLlj_GeKniA"></input>
      </div>

      <div class="col-sm-3"> <!-- 8: end time in seconds -->
        <input class="form-control" name="endSeconds" value="0:20"></input>
      </div>
    </div>
  </form>
</div>