<div>
  <form id="editor-form" name="editorForm" class="container"> <!-- 2-8: Content -->    
    <div class="row"> <!-- 2-3: Video title & URL/Buttons --> 
      <div class="col-sm-8 h3 videoTitle"> <!-- 2: Video Title -->
        <a href="https://www.youtube.com/watch?v={{videoData.youtubeId}}" target="_blank" ng-show="videoData.title">
          {{videoData.title}}
        </a>
        <!-- <div ng-hide="videoData.title">Loading...</div> -->
      </div> 
      <div class="col-sm-4" ng-show="editorForm.$pristine"> <!-- 3: Sharable shortURL -->
        <input class="form-control" name="shortURL" value="http://youtubr.xyz/#/{{videoId}}" readonly></input>
      </div>
      <div class="col-sm-2" ng-show="editorForm.$dirty"><!-- 3: Save button --> 
        <a class="btn btn-success btn-block col-sm-2" ng-click="save()">Save</a> 
      </div>
      
      <div class="col-sm-2" ng-show="editorForm.$dirty"><!-- 3: Reset button --> 
        <a class="btn btn-danger btn-block col-sm-2" ng-click="reset()">Reset</a> 
      </div>
    </div>
    
    <div class="row"> <!-- 4: Youtube iFrame embed --> 
      <div class="col-sm-12">
        <div class="videoWrapper" ng-controller="VideoCtrl">
          <div ng-show="ready">
            <div id="videoDiv">
            </div>
          </div>
          <div class="jumbotron" ng-hide="ready || error">
            <h1 ng-show="refreshing">REFRESHING...</h1>
            <h1 ng-hide="refreshing">LOADING...</h1>
            <p>Sometimes, YT.player doesn't fire the onReady event...</p>
          </div>
          <div class="jumbotron" ng-show="error">
            <h1>ERROR</h1>
            <p>Unfortunately, we couldn't match the short url <strong>/{{videoId}}</strong></p>
            <p>Return to <a href="#/example">/example</a></p>
          </div>
        </div>
        <div class="hidden">
          {{videoData}}
          <br>

        </div>
      </div>
    </div>
    
    <div class="row"> <!-- 5: Timeline -->
      <div class="col-sm-12">
        <div class="progress">
          <div class="progress-bar progress-bar-warning" style="width: {{(videoData.startSeconds/videoData.duration)*100.0}}%">
            <!-- {{videoData.startSeconds | secondsToMinutes}} -->
          </div>
          <div class="progress-bar progress-bar-success progress-bar-striped active" style="width: {{((videoData.endSeconds-videoData.startSeconds)/videoData.duration)*100.0}}%">
            <!-- {{videoData.endSeconds-videoData.startSeconds | secondsToMinutes}} -->
          </div>
          <div class="progress-bar progress-bar-danger" style="width: {{((videoData.duration-videoData.endSeconds)/videoData.duration)*100.0}}%">
            <!-- {{videoDuration-videoData.endSeconds | secondsToMinutes}} -->
          </div>
        </div>
      </div>
    </div>

    <div class="row"> <!-- 6-8: Start time, youtube link input, End time -->
      <div class="col-sm-3 form-group"> <!-- 6: start time in seconds -->
        <label>Start seconds</label>
        <input class="form-control" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" name="startSeconds" ng-model="videoData.startSeconds"></input>
      </div>

      <div class="col-sm-6 form-group"> <!-- 7: youtube link input -->
        <label>Youtube URL (youtubr.com/watch?v=)</label>
        <input class="form-control" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" name="youtubeUrl" ng-model="videoData.youtubeUrl"></input>
      </div>

      <div class="col-sm-3 from-group"> <!-- 8: end time in seconds -->
        <label>End seconds</label>
        <input class="form-control" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }" name="endSeconds" ng-model="videoData.endSeconds"></input>
      </div>
    </div>
  </form>
</div>