<nav class="navbar navbar-default navbar-fixed-top" role="navigation" ng-controller="NavCtrl"> <!-- 1: Navbar -->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Youtubr</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="//github.com/byronhulcher/youtubr" target="_blank">Github</a></li>
        <li><a href="" data-animation="am-fade-and-slide-top" data-content-template="views/partials/info.html" bs-modal="modal">Info</a></li>
    </ul>
  </div>
</nav>